<div>
	<h3>Profile</h3>
	<li><b>Activated:</b> May 2014</li>
	<li><b>Platform:</b> iOS & Android</li>
	<li><b>Current watch:</b> Bobby</li>
	<li><b>Watches owned:</b> Tintin, Steel, Snowy, Bobby, S4</li>
	<li><b>Kickstarter?</b> No :(</li>
</div>

<div>
	<h3>Activity</h3>
	<p><b>Avg Hours:</b> 12/weekday, 4/weekend</p>
	<%= image_tag("hours.png", size: "500x300") %>
</div>

<div>
	<h3>Calendar</h3>
	<p style="text-align:left">
		<b>Avg Events:</b> 6/weekday, 0/weekend
		<span style="float:right">
			<b>Busiest on:</b> Tuesday, Thursday
		</span>
	</p>
	<p style="text-align:left">
	<%= image_tag("calendar.png", size: "1000x500") %>
	<p> </p>
</div>

<div>
	<h3>Notifications</h3>
	<p>Over time</p>
	<p>Top Sources</p>
</div>

<div>
	<h3>Apps</h3>
	<h3>Timeline</h3>
</div>