<% if signed_in? %>
	<div>
		<h3>Profile</h3>
		<li><b>Activated:</b> May 2014</li>
		<li><b>Platform:</b> iOS & Android</li>
		<li><b>Current watch:</b> Bobby</li>
		<li><b>Watches owned:</b> Tintin, Steel, Snowy, Bobby, S4</li>
		<li><b>Kickstarter?</b> No :(</li>
	</div>

	<p>&nbsp;</p>

	<div>
		<h3>Activity</h3>
		<p><b>Avg Hours:</b> 12/weekday, 4/weekend</p>
		<%= image_tag("hours.png", size: "500x300") %>
	</div>

	<div>
		<h3>Calendar</h3>
		<p style="text-align:left">
			<b>Avg Events:</b> 6/weekday, 0/weekend
			<span style="float:right">
				<b>Busiest on:</b> Tuesday, Thursday
			</span>
		</p>
		<p style="text-align:left">
		<%= image_tag("calendar.png", size: "1000x500") %>
		</p>
	</div>

	<p>&nbsp;</p>

	<div>
		<h3>Notifications</h3>
		<p><b>Avg Notifications:</b> 88/weekday, 8/weekend</p>
		<div class="row">
			<div class="span5" align="left">
				<p><b>Notifications by Time of Day</b></p>
				<%= image_tag("notifications.png", size: "400x200") %>
			</div>
			<div class="span5 offset1" align="left">
				<p><b>Top Notifications Sources</b></p>
					<table id="t01" style="width:100%">
						<tr><th>Source</th><th>% Notifs</th></tr>
	  				<tr><td>Gmail</td><td>65%</td></tr>
	  				<tr><td>Inbox</td><td>22%</td></tr>
	  				<tr><td>Calendar</td><td>3%</td></tr>
	  				<tr><td>WhatsApp</td><td>2%</td></tr>
	  				<tr><td>Hangouts</td><td>2%</td></tr>
	  				<tr><td>Dropcam</td><td>1%</td></tr>
	  				<tr><td>Google App</td><td>1%</td></tr>
					</table>
			</div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div>
		<div class="row">
			<div class="span3" align="left">
				<h3>Apps</h3>
					<table id="t01" style="width:100%">
						<tr><th>App</th><th># Launches</th></tr>
	  				<tr><td>Notifications</td><td>44</td></tr>
	  				<tr><td>Voice</td><td>20</td></tr>
	  				<tr><td>Timeline</td><td>19</td></tr>
					</table>
			</div>
			<div class="span3 offset1" align="left">
				<h3>Faces</h3>
					<table id="t01" style="width:100%">
						<tr><th>Face</th><th># Hours</th></tr>
	  				<tr><td>Mosaic</td><td>166.6</td></tr>
	  				<tr><td>TicToc</td><td>0.2</td></tr>
					</table>
			</div>
			<div class="span3 offset1" align="left">
				<h3>Pins</h3>
					<table id="t01" style="width:100%">
						<tr><th>Source</th><th># Pins</th></tr>
	  				<tr><td>Calendar</td><td>35</td></tr>
	  				<tr><td>Weather</td><td>6</td></tr>
					</table>
			</div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div>
		<h3>Health</h3>
		
	</div>

<% else %>
	<p>Please sign in</p>
<% end %>
